<html>
<body>
    <div class="row">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissable">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    <a href="{{ path('app_employee_create') }}">Add Employee</a>
    <a href="{{ path('app_am_create') }}">Add AM</a>
    <a href="{{ path('app_project_create') }}">Add Project</a>

    <a href="{{ path('app_employee_list') }}">List Employee</a>

    {% block content %}
    {% endblock content %}
</body>
</html>