{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h2>Create Employee</h2>
    <div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}