{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h2>List Employee</h2>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>email</th>
                <th>am</th>
            </tr>
            {% for employee in employees %}
                <tr>
                    <td>{{ employee.firstName }}</td>
                    <td>{{ employee.lastName }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.am.lastName }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}